@import './index.scss';

.get-god-pro {
    border:none;
    cursor: pointer;
    height: 3.25rem;
    padding: 0 0.75rem;
    background-color: #56F2C3;
    color: #FEFEFE;
    font-size: 1rem;
    transition: 0.4s;

    &:hover {
        background-color: #19edad;
    }
}
