.mini-menu {
    background-color: #1E1D2B;

    display: inline-flex;
    gap: 24px;
}

.mini-menu-elem {
    color: #8D8D9C;
    cursor: pointer;

    height: 26px;
}

.mini-menu-elem-line {
    height: 2px;
    margin-top: 6px;

    background-color: #56F2C3;
}

.active {
    border-bottom: solid #56F2C3 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    color: #FEFEFE;
}